header{
	margin-bottom: 10px;
	@include gradient();
	.navbar-default{
		background-color: transparent;
		border: 0px;
		border-radius: 0px;
		width: 100%;
		min-height: auto;
    	margin-bottom: 0;
		.navbar-header{
			button{
				border: 0px;
			}
			.navbar-brand{
				width: 50px;
				height: 50px;
				padding: 0;
				position: relative;
				top: 5px;
				img{
					width: 100%;
				}
			}
		}
		.navbar-form{
			width: 60%;		
			padding: 0;
    		margin: 10px 0px;
			.search-input-group {
				width: 100%;
				input{
					border-radius: 0;
				    border: 0;
				    box-shadow: none;
				    height: 40px;
				}
				.input-group-addon{
					background: $white_color;
				    box-shadow: none;
				    height: 40px;
				    border: 0;
				    border-radius: 0px;
				    width: 40px;
					button{
						border:0;
				    	background:transparent;
				    	.search_icon{
				    		img{
								width: 20px;
							}
				    	}
					}  
				}  
			}
		}
		.navbar-nav{
			li{
				a{
					color: $white_color;
					text-align: center;					
					transition: all ease 0.5s;
					padding-top: 5px;
    				padding-bottom: 5px;
					&:hover{
						color: $black_color;
					}
					img{
						width: 20px;
					}
					span{
						display: block;
						padding-top: 30px;
						font-size: 12px;
    					line-height: 14px;
					} 
				}
			}
		}
	}
}
