.button {
  white-space: nowrap;
  padding: 3px 11px;
  border: none;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.5);
  color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 3px;
  &__icon {
    padding-right: 4px;
  }
}
.button--primary {
  color: #ffffff;
  background-color: #a2ab43;
}
.button--secondary {
  background-color: #eaeaea;
  color: #4a4a4a;
}
.button--tertiary {
  background-color: #a22930;
  color: #fff;
}
.button--disabled {
  color: #4a4a4a;
  background-color: #eaeaea;
  opacity: 0.65;
}
.button--icon-only {
  border: none;
  background: none;
  padding: 0px 11px 0px 6px;
  &.button--primary {
    color: #a2ab43;
  }
  &.button--tertiary {
    color: #a22930;
  }
}
.button--small {
  font-size: 18px;
}
.button--medium {
  font-size: 25px;
}
.button--large {
  font-size: 35px;
}
