@mixin gradient(){
	background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
}
@mixin gradientreverse(){
	background-image: radial-gradient(circle at 0 100%, #029bd7, #1f58a6);
}
@mixin body_grey(){
	background-color: rgba(198, 198, 198, 0.3);
}
@mixin float(){
	float: left;
	width: 100%;
}