/********* Fonts ********/
@font-face {
  font-family: "Helvetica";
  src: url("../fonts/Helvetica.ttf") format("ttf"),
    url("../fonts/Helvetica.otf") format("otf"),
    url("../fonts/Helvetica.woff") format("woff");
}
@font-face {
  font-family: "Helvetica-Bold";
  src: url("../fonts/HelveticaBold.ttf") format("ttf"),
    url("../fonts/HelveticaBold.otf") format("otf"),
    url("../fonts/HelveticaBold.woff") format("woff");
}
@font-face {
  font-family: "Helvetica-Light";
  src: url("../fonts/HelveticaLight.ttf") format("ttf"),
    url("../fonts/HelveticaLight.otf") format("otf"),
    url("../fonts/HelveticaLight.woff") format("woff");
}
/*********Common Style ***********/
body {
  @include body_grey();
  font-family: "Helvetica";
  @media (max-width: 767px) {
    section.res767 {
      background: url("../images/notifications-logo.jpg") no-repeat center;
      width: 100%;
      background-size: contain;
      min-height: 100vh;
    }
    // display: none;
  }
  &.backwhite {
    background-color: white;
  }
}
.no-padding {
  padding: 0px !important;
}
.no-padding-left {
  padding-left: 0px;
}
.no-padding-right {
  padding-right: 0px;
}
.padding-lr-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.padding-rl-23 {
  padding: 0 23px;
}
.padding-10 {
  padding: 10px;
}
.padding-15 {
  padding: 15px;
}
.padding-25 {
  padding: 25px;
}
.padding-rl-10 {
  padding: 0px 10px;
}
.padding-left-10 {
  padding-left: 10px;
}
.padding-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}
.padding-right-10 {
  padding-right: 10px;
}
.padding-right-5{
  padding-right: 5px;
}
.padding-right-15{
  padding-right: 15px;
}
.padding-left-5{
  padding-left: 5px;
}
.padding-b-25 {
  padding-bottom: 25px;
}
.margin-left-20 {
  margin-left: 20px;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.margin-bottom-13 {
  margin-bottom: 13px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-b-22 {
  margin-bottom: 22px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-46 {
  margin-top: 46px;
}
.size-20 {
  font-size: 20px;
}
.no-margin {
  margin: 0px !important;
}
.width-80 {
  width: 80%;
}
.no-border {
  border: 0px !important;
}
hr {
  border: 1px solid #cdcdcd;
}
.disp-flex {
  display: flex;
}
.margin-b-25 {
  margin-bottom: 25px;
}
.textCenter {
  text-align: center;
}
.htWid100{
  width: 100%;
  height: 100%;
}
.no-btn{
  border: none;
  background: none;
}
/******** Titles Style*******************/
.float_left{
  float: left;
}
.normal_title {
  color: $charcoal_color;
  font-family: "Helvetica-Bold";
  font-size: 14px;
  &.gray_box {
    min-height: 15px;
    background-color: #d3d3d3;
    margin-bottom: 2px;
  }
}
.secondary_title {
  font-family: "Helvetica";
  color: $charcoal_color;
  &.gray_box_big {
    height: 60px;
    width: 100%;
    background: #d3d3d3;
    display: inline-block;
  }
  .textBold{
    font-weight: bold;
  }
}
.grey_title {
  font-family: "Helvetica-Light";
  color: $silver_color;
}
.bg-white {
  background-color: $white_color;
}
.fontBold {
  font-weight: bold;
}
/*************** Buttons Styles ********************/
.filled_button {
  font-size: 14px;
  font-family: Helvetica;
  color: $white_color;
  padding: 10px 15px;
  @include gradient();
  border: 0px;
  transition: background-image 0.5s ease 0s;
  &:hover {
    @include gradientreverse();
  }
}
.blue_button {
  font-size: 14px;
  font-family: Helvetica;
  color: $blue_color;
  padding: 10px 15px;
  border: 1px solid $blue_color;
  background: $white_color;
  transition: all 0.5s ease;
  &:hover {
    border: 1px solid $charcoal_color;
    color: $charcoal_color;
  }
}
.black_button {
  font-size: 14px;
  font-family: Helvetica;
  color: $charcoal_color;
  padding: 10px 15px;
  border: 1px solid $charcoal_color;
  background: $white_color;
  transition: all 0.5s ease;
  &:hover {
    border: 1px solid $blue_color;
    color: $blue_color;
    background-color: #cacaca2b;
  }
}
/************** Form CSS *************************/
.form-group {
  margin-bottom: 20px;
  position: relative;
  float: left;
  width: 100%;
  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    li {
      float: left;
      width: 200px;
      height: 40px;
      position: relative;
      &:last-child {
        float: right;
      }
      &.wid49 {
        width: 49%;
      }
    }
    .genderLabel {
      text-align: center;
    }
    label,
    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0px;
    }
    input[type="radio"] {
      opacity: 0.011;
      z-index: 100;
      &:checked {
        & + label {
          @include gradient();
          color: $white_color;
          border: 0;
        }
      }
    }
    label {
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      z-index: 90;
      border: 1px solid $nobel_color;
      font-weight: normal;
    }
  }
  .react-tagsinput {
    border: 1px solid transparent;
    padding-left: 0;
    padding-top: 0;
  }
  img {
    width: 20px;
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
  input {
    width: 100%;
    background: transparent;
    border: 1px solid $nobel_color;
    border-radius: 0;
    box-shadow: none;
    height: 40px;
    &::placeholder {
      color: $charcoal_color;
    }
    &:focus {
      border-color: #000;
      box-shadow: none;
      outline: none;
    }
  }
  .error-msg {
    color: #d0021b;
    font-size: 12px;
    &.highlight {
      float: right;
      padding: 5px 0 0 0;
    }
  }
  .options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    width: 100%;
    li {
      float: left;
      width: 200px;
      height: 40px;
      position: relative;
      &:last-child {
        float: right;
      }
    }
    label,
    input {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: 0px;
    }
    input[type="radio"] {
      opacity: 0.011;
      z-index: 100;
      &:checked {
        & + label {
          @include gradient();
          color: $white_color;
          border: 0;
        }
      }
    }
    label {
      padding: 10px;
      border: 1px solid #ccc;
      cursor: pointer;
      z-index: 90;
      border: 1px solid $nobel_color;
      font-weight: normal;
    }
  }
  label {
    font-family: "Helvetica";
    font-weight: normal;
    font-size: 14px;
    color: $charcoal_color;
    float: left;
    width: 100%;
  }
  button {
    height: 35px;
    padding-top: 7px;
    width: 110px;
  }
  input[type="number"] {
    padding: 10px;
    &::-webkit-inner-spin-button,
    &::-webkit-outer-spin-button {
      opacity: 1;
    }
  }
}
button:focus {
  outline: 0;
}
.col-2 {
  margin: 0px -15px;
}
.form-title {
  color: $charcoal_color;
  font-size: 18px;
  font-family: "Helvetica-Bold";
  padding-bottom: 0px;
}
.form-subtitle {
  color: $charcoal_color;
  font-family: "Helvetica-Bold";
  padding-bottom: 15px;
  border-bottom: 1px solid $charcoal_color;
  margin-bottom: 20px;
  padding-top: 35px;
  float: left;
  width: 100%;
}
.gradient-button {
  @include gradient();
  padding: 2px;
  border: 0;
  margin: auto;
  display: block;
  span {
    background: $white_color;
    color: $blue_color;
    padding: 10px 120px;
    display: block;
    transition: background 0.5s ease;
    &:hover {
      background: transparent;
      color: $white_color;
    }
  }
}
.read-more {
  color: $silver_color;
  font-size: 14px;
}
.more-strip {
  @include gradient();
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: -40px;
  position: relative;
  z-index: 9999999;
  &:hover {
    color: $white_color;
    cursor: pointer;
  }
}
.green-circle {
  width: 8px;
  height: 8px;
  border: 2px solid #7ed321;
  border-radius: 50%;
  display: block;
  margin: 7px auto;
}
.modal-content {
  border-radius: 0;
}
.width-100 {
  width: 100% !important;
}
.overflow-scroll {
  .modal-dialog {
    //reverting back
    // height: 80vh;
    // min-height: 80vh;
    // margin: 10vh auto;
    height: 92%;
    // background-color: white;
    .modal-content {
      height: 100%;
      overflow: hidden;

      .modal-body {
        height: 92%;
        .modal-body {
          height: 100%;
          .upload-form {
            height: 100%;
            overflow: auto;
          }
        }
      }
    }
  }
}
.overflow-scroll {
  .modal-dialog {
    height: 92%;
    .modal-content {
      height: 100%;
      overflow: hidden;
      .modal-body {
        height: 92%;
        .modal-body {
          height: 100%;
          .payment-history {
            height: 100%;
            overflow: auto;
          }
        }
      }
    }
  }
}
.disp-flex {
  display: flex;
}
.overflow-auto {
  overflow: auto;
}
.payment-overview-modal {
  .payment-history {
    height: 600px;
    overflow: auto;
  }
  .payment-form {
    height: 598px;
    overflow: auto;
  }
}
.billing-add {
  height: 600px;
  overflow: auto;
}
.mar-btm-5 {
  margin-bottom: 5px;
}

.post-popup {
  .modal-dialog {
    .modal-content {
      background-color: transparent !important;
      border: 0px;
      .modal-body {
        padding: 0px;
      }
    }
  }
}
.messages-modal {
  .modal-dialog {
    .modal-body {
      float: left;
      padding: 0;
      width: 100%;
    }
  }
}
.scrollStyle::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  border-radius: 10px;
}

.scrollStyle::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.scrollStyle::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(2, 155, 215, 1)),
    color-stop(0.86, rgba(31, 88, 166, 1))
  );
  background-image: -moz-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.44, rgba(2, 155, 215, 1)),
    color-stop(0.86, rgba(31, 88, 166, 1))
  );
}

//loader css
section.loader-wrapr {
  position: fixed;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
  text-align: center;
  top: 0px;
  left: 0px;
  width: 100%;
}
.loader {
  position: static;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 75px;
  display: inline-block;
  vertical-align: middle;
}

.loader-14 .loader-star {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 12px);
}

.star-small {
  -webkit-animation: star-small-pulse 1s ease-in-out alternate infinite;
  animation: star-small-pulse 1s ease-in-out alternate infinite;
}

.loader-14 .star-big {
  -webkit-animation: star-big-pulse 2s -0.2s ease-in-out infinite;
  animation: star-big-pulse 2s -0.2s ease-in-out infinite;
}

@-webkit-keyframes star-big-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

@keyframes star-big-pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(4);
    transform: scale(4);
    opacity: 0;
  }
}

@-webkit-keyframes star-small-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

@keyframes star-small-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  100% {
    -webkit-transform: scale(2);
    transform: scale(2);
  }
}

//login popup
.login_pop_up#note {
  position: absolute;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  background: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
  text-align: center;
  line-height: 2.5;
  overflow: hidden;
  color: white;
  -webkit-box-shadow: 0 0 5px black;
  -moz-box-shadow: 0 0 5px black;
  box-shadow: 0 0 5px black;
  -webkit-transform: translateY(-50px);
  -webkit-animation: slideDown 2.5s 1s 1 ease forwards;
  -moz-transform: translateY(-50px);
  -moz-animation: slideDown 2.5s 1s 1 ease forwards;
  #close {
    display: none;
  }
}
@keyframes slideDown {
  0%,
  100% {
    -webkit-transform: translateY(-50px);
  }
  10%,
  90% {
    -webkit-transform: translateY(0px);
  }
}
@-webkit-keyframes slideDown {
  0%,
  100% {
    -webkit-transform: translateY(-50px);
  }
  10%,
  90% {
    -webkit-transform: translateY(0px);
  }
}
@-moz-keyframes slideDown {
  0%,
  100% {
    -webkit-transform: translateY(-50px);
  }
  10%,
  90% {
    -webkit-transform: translateY(0px);
  }
}
//page not found
.page-not-found-wrapr {
  section.page-not-found {
    text-align: center;
    background-color: white;
    min-height: calc(100vh - 72px);

    // font-family: 'Helvetica-Bold';
    .heading {
      font-size: 30px;
      padding: 60px 0 30px 0;
    }
    .sub-heading {
      font-size: 20px;
    }
    .logo-background {
      background: url("../images/logo-pic.png") no-repeat center;
      background-color: #0f7bc0;
      height: 275px;
      width: 275px;
      // height: 15vh;
      // width: 15vw;
      margin: 0 auto;
      background-size: 100% 100%;
      margin-top: 75px;
    }
  }
  footer {
    float: left;
    width: 100%;
    margin: 28px 0px;
    position: fixed;
    bottom: 0;
    background-color: white;
    .page-not-found {
      ul {
        padding: 0px;
        text-align: center;
        margin: 0;
        li {
          display: inline-block;
          a {
            color: $silver_color;
            padding: 0px 4px;
          }
        }
      }
    }
  }
}

//message
.badge.badge-danger {
  background-color: #dd1d1d;
  position: absolute;
  top: 3px;
  right: 15px;
  padding: 6px 2px 1px 2px;
  min-height: 21px;
  min-width: 21px;
  text-align: center;
  font-size: 10px !important;
}

//comment and #tag
.__react_component_tooltip.type-light.border {
  border: 1px solid #777;
  background: rgba(190, 190, 190, 0.5);
  -webkit-overflow-scrolling: touch;
  outline: 0;
  text-align: center;
  margin-left: -6px;
  margin-top: 0px;
  padding: 0px;
  width: 340px;
  opacity: 1;
  // margin-left: 70%;
  // transition: all ease 0.3s;
  //   &.show{
  //     margin-left: 0;
  //   }
  cursor: pointer;
  &::before,
  &::after {
    display: none;
  }
  & > div {
    &.post-action-links {
      width: 100% !important;
    }
    width: 100%;
    text-align: left;
    background: #9b9b9b;
    & > div {
      padding: 11px 0 10px 15px;
      background-color: white;
      margin-bottom: 1px;
      font-size: 14px;
      & > div:first-child {
        color: #4a4a4a;
        &.img-wrapr {
          width: 45px;
          height: 45px;
          float: left;
          margin-right: 10px;
          img {
            height: inherit !important;
            width: inherit !important;
            border-radius: 50%;
            position: relative;
          }
        }
      }
      & > div:last-child {
        color: #9b9b9b;
        &.person-info-wrapr {
          width: calc(100% - 50px);
          .person-name {
            font-family: "Helvetica-Bold";
            color: #4a4a4a;
          }
        }
      }
    }
    &.tag-person-wrapr {
      .img-wrapr {
        float: left;
      }
    }
  }
  .post-action-links {
    background-color: transparent;
    position: relative;
    display: inline-block;
    top: 40%;
    width: 300px;
    div, &>button {
      display: block;
      background: #ffffff;
      color: #4a4a4a;
      padding: 10px 40px;
      text-align: center;
      margin-bottom: 2px;
      font-size: 12px;
      position: relative;
      z-index: 1;
      width: 100%;
      border: 0;
      &:before{
        content: "";
        position: absolute;
        z-index: -1;
        left: 51%;
        right: 51%;
        bottom: 0;
        background: #ffffff;
        height: 38px;
        -webkit-transition-property: left, right;
        transition-property: left, right;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
        bottom: 1px;
        z-index: -1;
      }
      &:hover{
        color: white;
        &::before{
          background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
          bottom: -1px;
          left: 0;
          right: 0;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:focus{
        outline: 0;
      }
    }
  }
}

//file-upload
@keyframes load {
  0% {
    stroke-dashoffset: 0;
  }
}
.progress {
  position: relative;
  display: inline-block;
  padding: 0;
  text-align: center;
}
.progress > li {
  display: inline-block;
  position: relative;
  text-align: center;
  color: #93a2ac;
  font-family: Lato;
  font-weight: 100;
  margin: 2rem;
}
// .progress > li:before {
// content: attr(data-name);
// position: absolute;
// width: 100%;
// bottom: -2rem;
// font-weight: 400;
// }
.progress > li:after {
  content: attr(data-percent);
  position: absolute;
  width: 100%;
  top: -2.3rem;
  left: 0;
  font-size: 2rem;
  text-align: center;
}
.progress svg {
  width: 10rem;
  height: 10rem;
}
.progress svg:nth-child(2) {
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(-90deg);
}
.progress svg:nth-child(2) path {
  fill: none;
  stroke-width: 25;
  stroke-dasharray: 629;
  stroke: #fff;
  opacity: 0.9;
  animation: load 10s;
}
.autocomplete-dropdown-container {
  &.show {
    border: 1px solid #979797;
    div {
      padding: 10px 20px;
      border-bottom: 1px solid #979797;
      &:last-child{
        border-bottom: 0;
      }
    }
  }
}

.rdw-editor-wrapper {
  .rdw-editor-toolbar {
    border-color: #333333;
    margin-bottom: 0px;
    border-left: 0;
    border-right: 0;
    .rdw-option-wrapper {
      border: 0px;
      width: 34px;
    }
    .rdw-inline-wrapper {
      order: 2;
    }
    .rdw-block-wrapper {
      .rdw-dropdown-wrapper {
        width: 100px;
      }
    }
    .rdw-dropdown-wrapper {
      order: 1;
      width: 65px;
      border: 0;
      position: relative;
      a {
        color: black;
      }
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.12);
      }
      .rdw-dropdown-carettoopen {
        margin-right: 5px;
      }
    }
    .rdw-text-align-wrapper {
      order: 4;
      position: relative;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    .rdw-colorpicker-wrapper {
      order: 3;
      &:after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 1px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.12);
      }
    }
    .rdw-history-wrapper {
      order: 5;
    }
  }
  .editor-class.rdw-editor-main,
  .rdw-editor-main {
    border: 1px solid #333333;
    border-top: 0px;
    height: 318px;
    padding: 0 10px;
    .DraftEditor-root {
      height: 95%;
    }
  }
}
.profile_pic_gray {
  height: 35px;
  width: 35px;
  border: 1px solid gray;
}
//gray_box loading animation
.gray_box {
  position: relative;
  width: 100%;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 10%;
    left: 0;
    top: 0;
    background: white;
    background-image: linear-gradient(to right, #d3d3d3, #e2e2e2);
    animation: move_gray_box 5s infinite;
    -webkit-animation: move_gray_box 5s infinite;
    -moz-animation: move_gray_box 5s infinite;
    -o-animation: move_gray_box 5s infinite;
  }
}
@keyframes move_gray_box {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}
@-webkit-keyframes move_gray_box {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}
@-moz-keyframes move_gray_box {
  0% {
    left: 0;
  }
  100% {
    left: 90%;
  }
}
//share social media
.share-side-popup{
  position: fixed;
    right: 0;
    width: 50px;
    top: 30vh;
    padding: 0;
    .share-side-popup-item{
      list-style-type: none;
      a{
        display: inline-block;
        span{
          height: 45px;
          width: 100px;
          color: #fff;
          display: inline-block;
          font-size: 25px;
          padding: 10px 16px;
          transition: margin-left ease .5s;
          -webkit-transition: margin-left ease .5s;
          -moz-transition: margin-left ease 0.5s;
          &.fa-facebook {
            background-color: #3b579d;
          }
          &.fa-youtube {
            background-color: #fd2725;
          }
          &.fa-twitter {
            background-color: #2caae1;
          }
          &.fa-instagram {
            background-image: radial-gradient(
              circle at 30% 107%,
              #fdf497 0%,
              #fdf497 5%,
              #fd5949 45%,
              #d6249f 60%,
              #285aeb 90%
            );
          }
          &:hover{
            width: 100px;
            text-align: left;
            padding: 8px 16px;
            margin-left: -50px;
          }
        }
      }
    }
}
//share pop up
.share-popup.modal {
  &.in {
    background: rgba(0, 0, 0, 0.4);
  }
  .modal-dialog {
    margin: 34vh auto;
    margin-left: 44vw;
  }
  .modal-content,
  .modal-body {
    // width: 100%;
    float: left;
    background-color: transparent;
    padding: 0;
  }
  .modal-body {
    .share-wrapr {
      background-color: transparent;
      .social-media-link {
        background-color: white;
        margin-bottom: 2px;
        padding: 10px 60px;
        &:last-child {
          margin-bottom: 0;
        }
        .social-icon {
          display: inline-block;
          height: 20px;
          width: 20px;
          background-size: contain !important;
          position: relative;
          top: 5px;
          margin-right: 10px;
          &.icon-whatsapp {
            background: url("../images/facebook.png") no-repeat center;
          }
          &.icon-facebook {
            background: url("../images/facebook.png") no-repeat center;
          }
          &.icon-twitter {
            background: url("../images/twitter.png") no-repeat center;
          }
          &.icon-email {
            background: url("../images/facebook.png") no-repeat center;
          }
          &.icon-copylink {
            background: url("../images/facebook.png") no-repeat center;
          }
        }
        a{
          span{
            color: #fff;
            display: inline-block;
            font-size: 20px;
            padding: 4px 8px;
            margin-right: 10px;
            &.fa-facebook {
              background-color: #3b579d;
            }
            &.fa-youtube {
              background-color: #fd2725;
            }
            &.fa-twitter {
              background-color: #2caae1;
            }
            &.fa-instagram {
              background-image: radial-gradient(
                circle at 30% 107%,
                #fdf497 0%,
                #fdf497 5%,
                #fd5949 45%,
                #d6249f 60%,
                #285aeb 90%
              );
            }
            &.fa-whatsapp {
              background-color: #29aa00;
            }
            &.fa-copy{
              color: #4a4a4a
            }
          }
        }
        .social-link-title{
          display: inline-block;
          position: relative;
          top: -4px;
        }
      }
    }
  }
}
.ReactTags__tags.react-tags-wrapper {
  .ReactTags__selected {
  .ReactTags__tagInput {
  padding-top: 10px;
  input.ReactTags__tagInputField {
  padding: 6px 12px;
   &::-webkit-input-placeholder {
  color: #4a4a4a;
  }
  &::-moz-placeholder {
  color: #4a4a4a;
  }
  &:-ms-input-placeholder {
  color: #4a4a4a;
  }
  &:-moz-placeholder {
  color: #4a4a4a;
  }
  }
  .ReactTags_suggestions{
    border: 1px solid;
  }  
  }
  span.tag-wrapper.ReactTags__tag.cursor-move {
  border: 1px solid #0f7aba;
  border-radius: 37.5px;
  padding: 2px 25px;
  margin: 5px 5px;
  display: inline-block;
  a.ReactTags__remove {
  text-decoration: none;
  cursor: pointer;
  &::after {
  position: absolute;
  width: 10px;
  height: 10px;
  font-size: 14px;
  content: "x";
  }
  }
  &:hover {
  background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
  color: #ffffff;
  a.ReactTags__remove {
  &::after {
  color: white;
  }
  }
  }
  }
  }
  }

  .picsta-error {
    color: #d0021b;
    display: inline-block;
    font-size: 12px;
    float: right;
    padding: 5px 0 5px 0;
  }
  .img-circle{
    &.ht45{
      height: 45px;
      min-width: 45px;
    }
  }

  .got_it{
    background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
    color: white;
    border: 0;
    padding: 10px 39px;
    height: 40px;
    margin-left: 20px;
  }
  //circle animation
  //video
  .video-js
  {
    &.htWid100{
      .vjs-big-play-button{
        left: 38%;
        top: 38%;
        border-radius: 51%;
        height: 100px;
        width: 100px;
        span.vjs-icon-placeholder{
          &::before{
            top: 25px;
          }
        }
      }
      @media (max-width: 1200px){
        .vjs-big-play-button{
          top: 35%;
        }
      }
      @media (max-width: 1024px) {
        .vjs-big-play-button{
          top: 30%;
        }
      }
      @media (max-width: 991px) {
        .vjs-big-play-button{
          left: 35%;
          top: 26%;
        }
      }
    } 
    .vjs-button>.vjs-icon-placeholder:before{
      font-size: 2.8em;
      line-height: 1.5;
    }
    .vjs-control-bar{
      height: 4em !important;
    }
    .vjs-time-control{
      line-height: 4em !important;
    }
    .vjs-icon-replay:before{
      content: "\f144" !important;
    }
    .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal{
      height: 4em !important;
    }
    .vjs-volume-bar.vjs-slider-horizontal{
      margin: 1.9em .45em !important;
    }
 }

  // .video-js .vjs-big-play-button .vjs-icon-placeholder:before, .video-js .vjs-play-control .vjs-icon-placeholder:before,
  