header {
  &.fixed {
    position: fixed;
    z-index: 1000 !important;
  }
  margin-bottom: 10px;
  @include gradient();
  .navbar-default {
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
    width: 100%;
    min-height: auto;
    margin-bottom: 0;
    .navbar-collapse {
      padding-right: 0;
    }
    .navbar-header {
      button {
        border: 0px;
      }
      .navbar-brand {
        width: 50px;
        height: 50px;
        padding: 0;
        position: relative;
        top: 5px;
        margin-left: -8px;
        img {
          width: 100%;
        }
      }
    }
    .navbar-form {
      padding: 0;
      margin: 10px 0px;
      width: 60%;
      @media (min-width: 992px) and (max-width: 1199px) {
        width: 55%;
      }
      @media (min-width: 768px) and (max-width: 991px) {
        width: 40%;
      }
      .search-input-group {
        width: 100%;
        input {
          border-radius: 0;
          border: 0;
          box-shadow: none;
          height: 40px;
        }
        .input-group-addon {
          background: $white_color;
          box-shadow: none;
          height: 40px;
          border: 0;
          border-radius: 0px;
          width: 40px;
          button {
            border: 0;
            background: transparent;
            .search_icon {
              img {
                width: 16px;
              }
            }
          }
        }
      }
    }
    .navbar-nav {
      .dropdown-menu {
        right: 0 !important;
        left: auto !important;
        padding: 0;
      }
      li {
        ul.dropdown-menu {
          .notification-mega-wrapper {
            ul {
              li {
                a {
                  &::before {
                    background: #000000;
                    bottom: 8px;
                    left: 51%;
                    right: 51%;
                  }
                  &:hover::before {
                    left: 28%;
                    right: 28%;
                  }
                }
              }
            }
          }
        }
        &.open {
          &:after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 10px solid $white_color;
            bottom: -6px;
            position: absolute;
            top: initial;
            right: 40px;
            left: initial;
            content: "";
          }
          a {
            background: transparent !important;
            color: $white_color !important;
          }
        }
        &.active {
          a {
            background: transparent !important;
            color: $white_color !important;
            &:before {
              content: "";
              position: absolute;
              z-index: -1;
              left: 0;
              right: 0;
              bottom: 0;
              background: #ffffff;
              height: 2px;
              -webkit-transition-property: left, right;
              transition-property: left, right;
              -webkit-transition-duration: 0.3s;
              transition-duration: 0.3s;
              -webkit-transition-timing-function: ease-out;
              transition-timing-function: ease-out;
              bottom: -6px;
            }
          }
        }
        a {
          color: $white_color;
          text-align: center;
          transition: all ease 0.5s;
          padding-top: 5px;
          padding-bottom: 5px;
          background: transparent;
          transform: perspective(1px) translateZ(0);
          &:before {
            content: "";
            position: absolute;
            z-index: -1;
            left: 51%;
            right: 51%;
            bottom: 0;
            background: #ffffff;
            height: 2px;
            -webkit-transition-property: left, right;
            transition-property: left, right;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
            bottom: -6px;
          }
          &:hover {
            &:before {
              left: 0;
              right: 0;
            }
          }
          &:hover {
            color: $white_color;
          }
          img {
            width: 20px;
          }
          span {
            display: block;
            padding-top: 30px;
            font-size: 12px;
            line-height: 14px;
            color: $white_color !important;
            &.badge.badge-danger {
              padding-top: 5px;
            }
          }
        }
        .notification-mega-wrapper {
          width: 455px;
          margin: 0;
          padding: 0;
          right: -63px;
          left: initial;
          top: 60px;
          border: 0;
          .nav-tabs {
            display: flex;
            li {
              flex: 1;
              a {
                outline: none;
                padding: 12px;
                border-bottom: 3px solid #ededed;
                margin: 0;
                .tab-title {
                  margin: 0;
                }
              }
              &.active {
                a {
                  font-family: "Helvetica-Bold";
                }
              }
              &:nth-child(2) {
                a {
                  border-right: 3px solid #ededed;
                }
              }
              &:nth-child(1) {
                a {
                  border-right: 3px solid #ededed;
                }
              }
            }
          }
          nav {
            .nav {
              border: 0px;
              li {
                &.active {
                  a {
                    font-family: "Helvetica-Bold";
                  }
                }
                a {
                  color: $charcoal_color !important;
                  width: 151px;
                  height: 45px;
                  display: inline-block;
                  float: left;
                  padding-top: 10px;
                  border-right: 2px solid #ededed;
                  border-bottom: 3px solid #ededed;
                  margin: 0;
                }
                &:last-child {
                  a {
                    border-right: 0px;
                  }
                }
              }
            }
          }
          .tab-content {
            .tab-pane {
              .header-notifications {
                .notification-wrapper {
                  padding: 12px;
                  float: left;
                  width: 100%;
                  border-bottom: 2px solid #ededed;
                  img {
                    width: 45px;
                    border-radius: 50%;
                    float: left;
                    margin-right: 10px;
                  }
                  .user-info {
                    display: inline-block;
                    float: left;
                    .username {
                      font-family: "Helvetica-Bold";
                    }
                    .date {
                      color: $silver_color;
                    }
                  }
                  .subscribe-btn {
                    display: inline-block;
                    float: right;
                    button {
                      height: 30px;
                      width: 90px;
                      padding-top: 6px;
                      margin-top: 15px;
                      padding-left: 5px;
                      padding-right: 5px;
                    }
                    .black_button {
                      width: auto;
                      padding-top: 6px;
                      border: 1px solid $silver_color;
                      margin-left: 10px;
                      img {
                        width: 16px;
                        margin: auto;
                      }
                    }
                  }
                  .square-image {
                    img {
                      border-radius: 0px;
                      width: 60px;
                      float: right;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
