.backoffice-login {
  a {
    display: block;
    width: 100%;
  }
}
.backoffice-feed {
  .status {
    border-color: #cdcdcd;
  }
}
.middle-section-search {
  margin-bottom: 2px;
  .search-input-group {
    width: 100%;
    input {
      border-radius: 0;
      border: 0;
      box-shadow: none;
      height: 40px;
    }
    .input-group-addon {
      background: #fff;
      box-shadow: none;
      height: 40px;
      border: 0;
      border-radius: 0px;
      width: 40px;
      button {
        border: 0;
        background: transparent;
        img {
          width: 16px;
        }
      }
    }
  }
}
.backoffice-leftside-bar {
  .filter-wrapper {
    ul {
      padding: 0;
      list-style-type: none;
      li {
        padding: 13px 18px;
        .label {
          font-size: 14px;
          color: $charcoal_color;
          padding: 0;
          font-weight: normal;
        }
        .value {
          color: $silver_color;
        }
      }
    }
  }
  .filter-btn-wrapper {
    @include float();
    background: rgba(198, 198, 198, 0.3);
    .black_button {
      width: 100%;
      background: transparent;
      margin-top: 10px;
    }
  }
}
.processed-popup {
  z-index: 9999999;
  width: 100%;
  background: rgba(190, 190, 190, 0.5);
  .modal-dialog {
    top: 32%;
    width: 300px;
    .modal-normal-title {
      border-bottom: 3px solid rgba(198, 198, 198, 0.3);
      background: #ffffff;
      margin-bottom: 0px;
    }
    .processed-options {
      background: #fff;
      padding: 10px;
      text-align: center;
      span {
        padding: 8px 12px;
        border: 2px solid #cdcdcd;
        display: inline-block;
        &:first-child {
          margin-right: 15px;
        }
        img {
          width: 12px;
        }
      }
    }
  }
}
.post-popup {
  z-index: 9999999;
  width: 100%;
  background: rgba(190, 190, 190, 0.5);
  .modal-dialog {
    top: 32%;
    width: 300px;
    .post-action-links {
      a {
        display: block;
        background: $white_color;
        color: $charcoal_color;
        padding: 10px 40px;
        text-align: center;
        margin-bottom: 2px;
        font-size: 12px;
      }
    }
  }
}
.backoffice-status {
  background: $white_color;
  display: flex;
  .status-wrapper {
    flex: 1;
  }
}
.backoffice-pics {
  .name-wrapper {
    @include gradient();
    margin-bottom: 0px;
    color: $white_color;
  }
  .backoffice-status {
    border: 0px;
  }
}
.backoffice-user {
  .name-wrapper {
    margin-bottom: 0px;
  }
  .backoffice-status {
    border-color: rgba(198, 198, 198, 0.3);
  }
}
.dashboard-middle-section {
  .normal_title {
    padding: 10px;
    margin-bottom: 10px;
    background: $white_color;
  }
  .review-report-btns {
    button {
      width: 49%;
    }
  }
  .user_download_wrapr {
    padding: 15px 20px;
    display: inline-block;
    width: 100%;
    background: white;
  }
}
.title_with_dropdown {
  margin-bottom: 10px;

  margin-top: 10px;
  float: left;
  width: 100%;
  font-family: "Helvetica-Bold";
  font-size: 12px;

  span {
    float: left;
    padding: 12px;
    width: calc(100% - 195px);
    background-color: white;
  }
  select {
    float: left;
    height: 40px;
    width: 150px;
    font-family: "Helvetica";
    @media (max-width: 850px) {
      // float: none;
    }
  }
  button.expandDrop {
    float: right;
    background: transparent;
    border: 1px solid rgb(169, 169, 169);
    border-left: 0;
    width: 45px;
    height: 40px;
    background-color: white;
    i {
      display: inline-block;
      color: #9b9b9b;
      font-size: 20px;
    }
    @media (max-width: 850px) {
      float: none;
    }
  }

  @media (max-width: 767px) {
    span {
      width: calc(100% - 250px);
    }
  }
  @media (max-width: 400px) {
    span {
      width: calc(100% - 185px);
    }
    select {
      width: 115px;
    }
  }
}
.title_with_search_dropdown_button {
  margin-bottom: 10px;
  background: #fff;
  margin-top: 10px;
  float: left;
  width: 100%;
  font-family: "Helvetica-Bold";
  font-size: 12px;
  display: flex;
  height: 40px;
  justify-content: space-around;
  input[type="search"] {
    height: 100%;
    padding: 12px 0 14px 13px;
    color: #4a4a4a;
    border: 1px solid rgb(169, 169, 169);
    flex: 1;
  }
  input[type="search"].flex2 {
    flex: 2;
  }
  ::-webkit-input-placeholder {
    color: #4a4a4a;
  }
  ::-moz-placeholder {
    color: #4a4a4a;
  }
  :-ms-input-placeholder {
    color: #4a4a4a;
  }
  :-moz-placeholder {
    color: #4a4a4a;
  }
  select {
    height: 100%;
    padding: 12px 0 14px 13px;
    color: #4a4a4a;
    flex: 1;
  }
  a {
    // width: calc(100% / 3);
    background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
    color: #ffffff;
    height: 100%;
    text-align: center;
    padding: 12px 0 14px 13px;
    text-decoration: none;
    flex: 1;
    &:active {
      background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
      color: #ffffff;
      text-decoration: none;
    }
    @media (max-width: 440px) {
      text-align: center;
      padding: 0px;
      padding-top: 12px;
    }
  }
  a.res440,
  select.res440,
  input.res440 {
    @media (max-width: 440px) {
      min-width: calc(100% / 3);
    }
  }
  a.wid30per {
    max-width: 240px;
    // flex: auto;
  }
}

.dashboard-tbl {
  table {
    background: $white_color;
    width: 100%;
    font-size: 12px;
    color: $charcoal_color;
    tr {
      td {
        border: 1px solid $charcoal_color;
        padding: 10px;
        font-size: 12px;
        @media (max-width: 767px) {
          font-size: 10px;
          text-align: center;
        }
        @media (max-width: 440px) {
          font-size: 9px;
        }
        @media (max-width: 320px) {
          font-size: 8px;
        }
        a {
          display: inline-block;
          padding-right: 5px;
          color: #0f7aba;
          text-decoration: underline;
          position: relative;
          &:hover {
            text-decoration: none;
          }
          @media (max-width: 767px) {
            font-size: 10px;
          }
        }
        a.link-black {
          color: #4a4a4a;
          text-decoration: none;
          padding: 7px 0 3px 23px;
          &:focus {
            color: #4a4a4a;
          }
        }
        a.active::before {
          content: "";
          position: absolute;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          border: 2px solid #7ed321;
          left: 8px;
          top: 11px;
        }
        span {
          // margin-right: 10px;
        }
        .green-circle {
          display: inline-block;
          float: left;
          margin-top: 3px;
          margin-right: 5px;
          @media (max-width: 440px) {
            float: none;
          }
        }
      }
      td.wid93 {
        width: 93px;
      }
      td.wid93.res440 {
        @media (max-width: 440px) {
          width: 15%;
        }
      }
      td.wid93.res320 {
        @media (max-width: 320px) {
          width: 8%;
          a {
            padding: 10px 0 0 0;
          }
          a.active {
            &::before {
              top: 0px;
            }
          }
        }
      }
      th {
        border: 1px solid $charcoal_color;
        padding: 10px;
        font-family: "Helvetica-Bold";
        color: #4a4a4a;
        @media (max-width: 440px) {
          text-align: center;
        }
        label {
          height: 100%;
          border: 0;
          width: 100%;
          padding: 12px 0 14px 11px;
          margin-bottom: 0;
          @media (max-width: 767px) {
            padding: 0px;
            font-size: 9px;
          }
        }
        label.res320 {
          @media (max-width: 320px) {
            font-size: 8px;
          }
        }
        select {
          height: 100%;
          border: 0;
          width: 100%;
          padding: 12px 0 14px 11px;
          @media (max-width: 767px) {
            padding: 0px;
            font-size: 9px;
          }
          &:focus {
            outline: 0;
          }
        }
        select.res320 {
          @media (max-width: 320px) {
            font-size: 8px;
          }
        }
        a {
          background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
          color: #ffffff;
          width: 100%;
          display: inline-block;
          padding: 12px 11px 14px 11px;
          text-align: center;
          &:active {
            background-image: radial-gradient(
              circle at 0 100%,
              #1f58a6,
              #029bd7
            );
            color: #ffffff;
          }
        }
      }
      th.wid93 {
        width: 93px;
      }
      th.wid93.res440 {
        @media (max-width: 440px) {
          width: 15%;
          a {
            font-size: 9px;
          }
        }
      }
      th.wid93.res320 {
        @media (max-width: 320px) {
          width: 8%;
          a {
            padding: 7px 0;
            font-size: 8px;
          }
        }
      }
    }
  }
  &.padding-right35 {
    padding-right: 0px;
    @media (max-width: 767px) {
      padding-right: 55px;
    }
    @media (max-width: 600px) {
      padding-right: 35px;
    }
    @media (max-width: 400px) {
      padding-right: 25px;
    }
  }
}
.create-cms-page-wrapr {
  .page-heading {
    background-color: white;
    font-family: Helvetica;
    font-size: 14px;
    color: #4a4a4a;
    font-weight: bold;
    padding: 10px 0 13px 20px;
  }
  form.cms-form {
    background-color: white;
    padding: 15px 5px 25px 5px;
    .form-row {
      @media (max-width: 480px) {
        margin-bottom: 0px;
      }
      margin-bottom: 20px;
      .form-col {
        &.col-xs-6 {
          label,
          input,
          select {
            width: 100%;
            height: 40px;
          }
          input,
          select {
            padding: 0 10px;
          }
          select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            background-color: transparent;
            position: relative;
            z-index: 1;
          }
          span.glyphicon {
            right: 14px;
            float: right;
            position: relative;
            top: -25px;
            font-size: 10px;
            z-index: 0;
            @media (max-width: 400px) {
              font-size: 8px;
            }
          }
        }
        label {
          font-family: Helvetica;
          font-size: 14px;
          color: #4a4a4a;
          font-weight: bold;
          margin-bottom: 13px;
        }
        input {
        }
        select {
        }
        .choice-wrapr {
          .choice {
            float: left;
            margin-right: 50px;
            label,
            input {
              display: inline-block;
              height: auto;
            }
            label {
              width: calc(100% - 25px);
            }
            input {
              width: 20px;
              position: relative;
            }
            [type="radio"]:before {
              content: "";
              background: white;
              position: absolute;
              height: 15px;
              width: 15px;
              border-radius: 50%;
              border: 1px solid #9b9b9b;
            }
            [type="radio"]:checked::after {
              content: "";
              position: absolute;
              height: 7px;
              width: 7px;
              background: black;
              background: #9b9b9b;
              border-radius: 50%;
              bottom: 12%;
              left: 20%;
            }
          }
        }
      }
      .form-col.res480 {
        @media (max-width: 480px) {
          width: 100%;
          padding: 0;
          label,
          input[type="text"],
          select {
            width: 50%;
            float: left;
          }
          .choice-wrapr {
            .choice {
              input {
                float: left;
              }
              label {
                float: right;
              }
            }
          }
        }
      }
      .form-btn {
        background-color: white;
        padding: 10px 38px 13px 38px;
        border: solid 1px #979797;
        margin-right: 10px;
        &:last-child {
          margin-right: 0px;
        }
        @media (max-width: 440px) {
          width: calc(100% / 3.5);
          padding: 10px;
          text-align: center;
        }
        @media (max-width: 440px) {
          width: calc(100% / 3.5);
        }
      }
      .editor-wrapr {
        border: 1px solid #545454;
        .editor-head {
          border-bottom: 1px solid #545454;
          height: 41px;
          padding: 0px 0 5px 0;
          @media (max-width: 400px) {
            height: auto;
            display: flex;
          }
          div {
            float: left;
            padding-top: 5px;
          }
          .left-style-wrapr {
            select.font-size {
              width: 115px;
              border: 0;
              font-size: 15px;
              color: rgba(0, 0, 0, 0.87);
              padding: 3px 0 0 20px;
              -webkit-appearance: none;
              -moz-appearance: none;
              background: transparent;
              position: relative;
              z-index: 1;
              &:focus {
                outline: 0;
              }
            }
            span.glyphicon {
              position: relative;
              right: 20px;
              height: 5px;
              width: 10px;
              z-index: 0;
              &::before {
                font-size: 10px;
              }
            }
          }
          .middle-style-wrapr {
            width: 239px;
            text-align: center;
            // padding: 1px 31.5px 0 31.5px;
            padding: 5px 13.5px 1px 13.5px;
            position: relative;
            display: flex;
            justify-content: space-between;
            &::after {
              content: "";
              position: absolute;
              right: 1px;
              height: 100%;
              width: 2px;
              background: rgba(0, 0, 0, 0.12);
              bottom: -2px;
            }
            &::before {
              content: "";
              position: absolute;
              left: 1px;
              height: 100%;
              width: 2px;
              background: rgba(0, 0, 0, 0.12);
              bottom: -2px;
            }
            button {
              border: 0;
              background-color: transparent;
              font-weight: bold;
              font-size: 20px;
              flex: 1;
              color: black;
            }
            .bold {
            }
            .italic {
              background: url("../images/italic.PNG") no-repeat center;
              font-style: italic;
            }
            .underline {
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: 2px;
                height: 2px;
                width: 15px;
                background: black;
                left: 36%;
              }
            }
            .color-picker {
              background: url("../images/alignment2.jpg") no-repeat center;
              span.glyphicon {
                position: absolute;
                height: 5px;
                width: 10px;
                right: 16px;
                top: 13%;
                &::before {
                  font-size: 10px;
                }
              }
            }
          }
          .right-style-wrapr {
            padding: 10px 0 8px 26.5px;
            button {
              width: 18px;
              height: 18px;
              margin-right: 24px;
              border: 0;
              &:focus {
                outline: 0;
              }
            }
            .left-align {
              background: url("../images/alignment2.jpg") no-repeat center;
            }
            .middle-align {
              background: url("../images/alignment2.jpg") no-repeat center;
            }
            .right-align {
              background: url("../images/alignment2.jpg") no-repeat center;
            }
            .justify-align {
              background: url("../images/alignment2.jpg") no-repeat center;
            }
          }
          .add {
            float: right;
            width: 35px;
            margin: 3px 0px;
            span {
              color: #9b9b9b;
              font-size: 20px;
            }
          }
          @media (max-width: 767px) {
            .left-style-wrapr {
              width: 65px;
              select.font-size {
                width: 50px;
              }
              span.glyphicon {
                right: 12px;
              }
            }
            .middle-style-wrapr {
              width: calc((100% - 100px) / 2);
              padding: 5px 13.5px 8px 5.5px;
              button.color-picker {
                span.glyphicon {
                  right: 12px;
                }
              }
            }
            .right-style-wrapr {
              width: calc((100% - 100px) / 2);
              padding: 10px 0 8px 3.5px;
              button {
                width: calc(100% / 4.5);
                margin-right: 0px;
              }
            }
          }
          @media (max-width: 480px) {
            .left-style-wrapr {
              width: 40px;
              select.font-size {
                width: 30px;
                padding: 3px 0 0 7px;
              }
              span.glyphicon {
                right: 7px;
                width: 6px;
                display: inline-block;
              }
            }
            .middle-style-wrapr {
              width: calc((100% - 75px) / 2);
              padding: 2px 13.5px 8px 5.5px;
              button.color-picker {
                span.glyphicon {
                  right: 10px;
                }
              }
              &::before {
                left: 3px;
              }
            }
            .right-style-wrapr {
              width: calc((100% - 75px) / 2);
              padding: 10px 0 8px 3.5px;
            }
            .add {
              text-align: center;
            }
          }
          @media (max-width: 400px) {
            .left-style-wrapr {
              padding-top: 9px;
              flex: 1;
              position: relative;
              select.font-size {
                font-size: 12px;
              }
              span.glyphicon {
                position: absolute;
                top: 10px;
                right: 4px;
                &::before {
                  font-size: 8px;
                }
              }
            }
            .middle-style-wrapr {
              padding: 8px 13.5px 0 5.5px;
              flex: 3;
              button {
                font-size: 12px;
              }
              button.color-picker {
                background-size: 15px;
                span.glyphicon.glyphicon-triangle-bottom {
                  top: 12px;
                  &::before {
                    top: 33%;
                    font-size: 8px;
                  }
                }
              }
            }
            .right-style-wrapr {
              flex: 3;
              padding-bottom: 0px;
              button.left-align,
              button.right-align,
              button.middle-align,
              button.justify-align {
                width: calc(100% / 4.6);
                background-size: 15px;
              }
            }
            .add {
              flex: 1;
              padding-top: 6px;
              span {
                font-size: 15px;
              }
            }
          }
        }
        .editor-body {
          height: 435px;
          textarea {
            height: 100%;
            width: 100%;
            max-width: 100%;
            max-height: 100%;
            resize: none;
            border: 0px;
          }
        }
      }
    }
    .form-row.res480 {
      margin-bottom: 20px;
    }
    .form-row.marBtm30 {
      margin-bottom: 30px;
    }
    .form-row.marBtm0 {
      margin-bottom: 0;
    }
  }
}
@-moz-document url-prefix() {
  .create-cms-page-wrapr
    form.cms-form
    .form-row
    .editor-wrapr
    .editor-head
    .middle-style-wrapr
    .underline::after {
    left: 35%;
  }
  .create-cms-page-wrapr
    form.cms-form
    .form-row
    .editor-wrapr
    .editor-head
    .right-style-wrapr {
    padding-top: 5px;
  }
}
.login-process .login-wrapper form a.margin-0 {
  margin: 0px;
}
