.bills-receipts-tbl {
  table {
    width: 100%;
    thead {
      background: $white_color;
      tr {
        th {
          font-family: "Helvetica-Bold";
          font-size: 12px;
          padding: 12px;
          border-bottom: 10px solid #ededed;
          &:nth-child(6) {
            text-align: center;
          }
        }
      }
    }
    tbody {
      td {
        font-size: 12px;
        padding: 12px;
        background: $white_color;
        border-bottom: 2px solid #ededed;
        img {
          width: 20px;
        }
      }
    }
  }
}
