.campaigns-right {
  button {
    width: 100%;
    margin-bottom: 10px;
  }
  .normal_title {
    font-size: 12px;
    background: #fff;
    padding: 11px;
    margin-bottom: 2px;
  }
 
  ul {
    padding: 0;
    list-style: none;
    li {
      font-size: 12px;
      background: $white_color;
      margin-bottom: 1px;
      padding: 11px;
      display: inline-block;
      width: 100%;
      .left-title{
        width: 40%;
        display: inline-block;
      }
      .right-content{
        width: 60%;
        display: inline-block;
      }
    }
  }
  .green-circle {
    width: 6px;
    height: 6px;
    border: 2px solid #7ed321;
    border-radius: 50%;
    display: block;
    margin: 7px auto;
  }
  .red-circle {
    width: 6px;
    height: 6px;
    border: 2px solid #d32121;
    border-radius: 50%;
    display: block;
    margin: 7px auto;
  }
}
.status {
  border-top: 1px solid $charcoal_color;
  float: left;
  width: 100%;
  padding: 15px;
  .status-wrapper {
    width: 20%;
    float: left;
    text-align: center;
    display: block;
    padding: 0 11px;
    height: 100%;
    @media (max-width: 991px) {
      padding: 0;
    }
    button {
      padding: 4px 8px;
      @media (max-width: 991px) {
        padding: 4px 2px;
      }
    }
    .title {
      font-size: 12px;
      font-family: "Helvetica-Bold";
      @media (max-width: 991px) {
        width: 100%;
      }
    }
    .subtitle {
      font-size: 12px;
    }
    .green-circle {
      width: 6px;
      height: 6px;
      border: 2px solid #7ed321;
      border-radius: 50%;
      display: block;
      margin: 7px auto;
    }
    .red-circle {
      width: 6px;
      height: 6px;
      border: 2px solid #d32121;
      border-radius: 50%;
      display: block;
      margin: 7px auto;
    }
  }
}
.campaign-middle-section {
  .normal_title {
    padding: 10px;
    margin-bottom: 10px;
    background: $white_color;
  }
  .campaign-block {
    background: $white_color;
    @include float();
    margin-bottom: 10px;
    .indicators {
      padding: 5px 35px 35px;
      @include float();
      div {
        width: 50%;
        float: left;
        .blue-block {
          width: 10px;
          height: 10px;
          display: inline-block;
          margin-right: 5px;
          @include gradient();
        }
        .grey-block {
          width: 10px;
          height: 10px;
          display: inline-block;
          background: #bfbfbf;
          margin-right: 5px;
        }
      }
    }
  }
  .progressbar-wrapper {
    padding: 0px 35px;
    @include float();
    margin-bottom: 35px;
    .progressbar {
      background-color: #bfbfbf;
      margin-bottom: 15px;
      > div {
        @include gradient();
        /* Adjust with JavaScript */
        height: 25px;
        position: relative;
      }
      .completed-count{
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        color:#fff;
        top:3px;
      }
    }
  }
}
