
.user_info {
  @include float();
  margin-bottom: 10px;
  display: flex;
  .user-image {
    width: 20%;
    float: left;
    height: 234px;
    img {
      width: 100%;
      padding: 3px;
      height: 100%;
      object-fit: cover;
      @media (max-width: 1200px){
        object-fit: contain;
      }
    }
  }
  .user-details {
    width: 80%;
    float: left;
    display: flex;
    .float_left {
      @include float();
      margin-left: 10px;
    }
  }
  .user_details {
    height: 100%;
    width: 100%;
  }
  .user_name {
    font-size: 24px;
    color: $charcoal_color;
    display: inline-block;
    padding-bottom: 35px;
  }
  .settings {
    display: inline-block;
    float: right;
    img {
      width: 20px;
      margin-left: 10px;
      &:focus {
        outline: 0;
        border: 0;
      }
    }
    a,
    .share-wrapr {
      float: left;
      display: inline-block;
      margin-left: 20px;
      &:focus {
        outline: 0;
      }
    }
    .tooltip-dot{
      display: inline-block;
      float: left;
      margin-left: 20px;
    }
  }
  .slot_one,
  .slot_two,
  .slot_three {
    color: $charcoal_color;
    padding-bottom: 5px;
  }
  .slot_one {
    button {
      width: 90%;
      margin-top: 10px;
    }
  }
  .slot_two {
    button {
      width: 90%;
      margin-top: 10px;
    }
  }
  .slot_three {
    button {
      width: 100%;
      margin-top: 10px;
    }
  }
}
.left_menu {
  background-color: $white_color;
  z-index: 9;
  width: 20%;
  float: left;
  .navbar-nav {
    li {
      width: 100%;
      a {
        background: transparent;
        font-family: "Helvetica";
        color: $charcoal_color;
        font-size: 14px;
        padding: 13px 18px;
        &:hover {
          @include gradientreverse();
          color: $white_color;
        }
        &.active {
          @include gradient();
          color: $white_color;
        }
        span {
          padding-left: 30px;
          padding-top: 2px;
          display: inline-block;
        }
      }
    }
  }
}
.middle-section {
  width: 50%;
  float: left;
  &.res767.wid70 {
    @media (max-width: 767px) {
      width: 70%;
    }
  }
  .cms-middle-section {
    &.backWhite {
      background-color: white;
    }
    .panel-wrapper {
      float: left;
      height: 360px;
      @media (max-width: 991px) {
        // height: 350px;
      }
      &.wid100 {
        height: 100%;
        min-height: 360px;
        @media (max-width: 991px) {
          min-height: 350px;
        }
      }
      .col-sm-6 {
        height: inherit;
        img {
          height: inherit;
        }
      }
      .content-wrapper {
        background-color: white;
        height: auto;
        .title {
          font-family: "Helvetica-Bold";
          font-size: 20px;
          padding-bottom: 20px;
          padding-top: 20px;
        }
        a {
          color: #4a4a4a;
          &.no-underline {
            text-decoration: none;
          }
        }
        .sub-title {
          font-family: "Helvetica-Bold";
          font-size: 16px;
          padding-top: 7px;
          padding-bottom: 15px;
        }
        ul.policy-points {
          li {
            padding-bottom: 17px;
            .question {
              font-family: "Helvetica-Bold";
            }
          }
        }
        .panel-group {
          .collapse {
            // padding: 10px 0;
            &.in {
              // padding: 10px 0;
            }
          }
        }
      }
    }
  }
}
.middle-section.width-80 {
  width: 80%;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.campaign-profile-info{
  display: inline-block;
  min-height: 100vh;
  // overflow: auto;
}
.left-sidebar{
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
.right-sidebar{
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  position: -webkit-sticky;
  position: sticky;
  top: 70px;
}
.left_menu_second {
  background-color: $white_color;
  z-index: 9;
  width: 20%;
  float: left;
  .navbar-nav {
    border-bottom: 2px solid rgba(198, 198, 198, 0.3);
    width: 100%;
    li {
      width: 100%;
      a {
        background: transparent;
        font-family: "Helvetica";
        color: $charcoal_color;
        font-size: 14px;
        padding: 13px 18px;
        &.log-out {
          font-family: "Helvetica-Bold";
        }
        &:hover {
          background-image: radial-gradient(circle at 0 100%, #029bd7, #1f58a6);
          color: $white_color;
        }
        &.active {
          @include gradient();
          color: $white_color;
        }
        span {
          padding-left: 30px;
          padding-top: 2px;
          display: inline-block;
        }
      }
    }
  }
  .left-filters {
    display: inline-block;
    width: 100%;
    padding-right: 10px;
    .filter-btn-wrapper {
      border-top: 2px solid rgba(198, 198, 198, 0.3);
      @include float();
      .black_button {
        width: 100%;
        background: rgba(198, 198, 198, 0.3);
      }
    }
    .filter-wrapper {
      position: relative;
      float: left;
      width: 100%;
      padding: 15px 20px;
      border-bottom: 2px solid rgba(198, 198, 198, 0.3);
      .filter-title {
        margin-bottom: 27px;
        margin-bottom: 10px;
      }
      .autocomplete-dropdown-container {
        position: relative;
        top: -25px;
      }
      input {
        float: right;        
        @media (max-width: 991px) {
          width: 100%;
        }
                
      }
      .radio-btn {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-weight: normal;
        color: $silver_color;
        &.lbl-margin {
          margin-bottom: 30px;
          margin-bottom: 5px;
        }
        .checkmark {
          position: absolute;
          top: 0;
          right: 0;
          height: 12px;
          width: 12px;
          background-color: #eee;
          border-radius: 50%;
          &:after {
            top: 2px;
            left: 2px;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: white;
            content: "";
            position: absolute;
            display: none;
          }
        }
        input {
          position: absolute;
          opacity: 0;
          cursor: pointer;
          right: 0px;
          ~ {
            .checkmark {
              &:after {
                display: block;
              }
            }
          }
        }
      }
      input[type="text"] {
        height: 40px;
        border: 1px solid $silver_color;
        margin-bottom: 25px;
        padding: 10px;
        width: 100%;
        margin: 0;
        &:focus {
          outline: none;
          border: 1px solid $charcoal_color;
        }
      }
      select {
        height: 40px;
        width: 100%;
        border: 1px solid $silver_color;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none;
        background-image: url(../images/up-down.svg);
        background-size: 10px;
        background-repeat: no-repeat;
        background-position: top 14px right 10px;
        padding: 10px;
      }
      .no-margin {
        margin: 0px !important;
      }
    }
  }
  .radio-btn:hover input ~ .checkmark {
    background-color: #ccc;
  }
  .radio-btn input:checked ~ .checkmark {
    @include gradient();
  }
}
.profile-img-wrapper{
  .user_info{
    padding: 15px 0;
    div{
      margin: 0 auto;
    }
  }
}
.right_bar {
  width: 30%;
  float: right;
  .normal_title {
    margin-bottom: 3px;
    background-color: $white_color;
    padding-right: 5px;
    word-break: break-all;
  }
  .campaigns {
    margin-bottom: 8px;
    @include float();
    background-color: $white_color;
    .campaign_wrapper {
      padding: 15px 0px;
      float: left;
      width: 100%;
      border-bottom: 2px solid $grey_color;
      img {
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        @media (max-width: 991px) {
          width: 40px;
          height: 40px;
          min-width: 40px;
          min-height: 40px;
        }
      }
    }
  }
  .community {
    margin-bottom: 8px;
    @include float();
    background-color: $white_color;
    .community_wrapper {
      display: flex;
      padding: 15px 0px;
      border-bottom: 2px solid $grey_color;
      @media (max-width: 1199px) {
        display: block;
        float: left;
        width: 100%;
      }
      .community-user-image {
        width: 22%;
        padding: 0px 15px;
        @media (max-width: 1199px) {
          float: left;
        }
        @media (max-width: 991px) {
          width: 45px;
          height: 45px;
          padding: 0;
        }
        img {
          max-width: 45px;
          max-height: 45px;
          width: 45px;
          height: 45px;
          object-fit: cover;
        }
      }
      .community-user-name {
        width: 40%;
        align-self: center;
        @media (max-width: 1199px) {
          float: left;
        }
        @media (max-width: 991px) {
          width: calc(100% - 50px);
          padding-left: 15px;
        }
      }
      .community-subscribe {
        align-self: center;
        button {
          min-height: 35px;
          padding: 6px;
          width: 100px;
          @media (max-width: 1199px) {
            width: 85px;
            padding: 3px;
            font-size: 13px;
          }
          @media (max-width: 991px) {
            width: calc(100% - 20px);
            padding: 9px;
            margin: 12px 10px 0px 10px;
          }
        }
      }
    }
  }
  .right_language {
    @include float();
    background-color: $white_color;
    .normal_title {
      display: inline-block;
      margin-right: 10px;
      & ~ div {
        display: inline-block;
        color: #4578b3;
        margin-right: 10px;
        &.active {
          text-decoration: underline;
        }
      }
    }
    a {
      padding-right: 7px;
      color: $blue_color;
    }
  }
  .right_small_menus {
    float: left;
    padding-top: 10px;
    ul{
      padding-left: 0;
      list-style: inside;
      li{
        display: inline-block;
        padding-right:28px;
        padding-left:3px;
        a{
          position: relative;
          padding-left: 7px;
          &:before {
            content: "\2022";
            position: absolute;
            top: 0;
            left: 0;
          }
          color: $silver_color;
          font-size: 12px;
        }
      }
    }
  }
}
.feed_wrapper {
  background-color: $white_color;
  margin-bottom: 2px;
  @include float();
  .status {
    border-color: rgba(198, 198, 198, 0.3);
    padding: 15px 0 0 0;
  }
  .feed_header {
    padding: 10px;
    @include float();
    .normal_title {
      &.gray_box {
      }
    }
    .secondary_title {
      font-weight: bold;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      &.gray_box {
        min-height: 15px;
        background-color: #d3d3d3;
      }
      &.textBold {
        font-weight: bold;
      }
    }
    .grey_title {
      // padding-left: 15px;
      &.gray_box {
      }
    }
    .profile_image {
      display: inline-block;
      float: left;
      position: relative;
      &.wid45 {
        width: 45px;
      }

      img {
        cursor: auto;
        width: 45px;
        height: 45px;
        min-width: 45px;
        min-height: 45px;
        object-fit: cover;
        &.profile_pic_gray {
          height: 35px;
          width: 35px;
          border: 1px solid gray;
        }
      }
      .overap-pro-img{
        position: absolute;
        right: 8px;
        top: -8px;
        img{
          cursor: auto;
          width: 30px;
          height: 30px;
          min-width: 30px;
          min-height: 30px;
          object-fit: cover;
        }
      }
    }
    .titles_wrapper {
      display: inline-block;
      float: left;
    }
    .like_wrapper {
      float: right;
      padding-right: 0px;
      img {
        width: 30px;
        cursor: pointer;
        transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        &[src="/global/picstagraph-web/images/blue_heart.svg"] {
          animation: 0.5s heartBit;
          -webkit-animation: 0.5s heartBit;
          -moz-animation: 0.5s heartBit;
        }
        &[src="/global/picstagraph-web/images/feed_like.svg"] {
          animation: 0.5s NoheartBit;
          -webkit-animation: 0.5s NoheartBit;
          -moz-animation: 0.5s NoheartBit;
        }
      }
    }
  }
  .feed_content {
    float: left;
    width: 100%;
    video {

      // background: url("../images/play_video_back.png") no-repeat 50% #000;
      background-size: contain;
      background-position: center;
    }
    .feed_image {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        &.big {
          min-height: 35vh;
          padding: 0 7px;
          border: 0;
          position: relative;
          min-height: 350px;
        }
      }
    }
    .feed_description {
      .normal_title {
        padding-bottom: 15px;
      }
      .info_wrapper {
        padding-bottom: 12px;
        display: inline-block;
        width: 100%;
        .secondary_title{
          display: inline-flex;
        }
      }
    }
  }
  .feed_footer {
    @include float();
    padding: 15px 0;
    .count {
      padding-right: 5px;
      font-family: "Helvetica-Bold";
      &.gray_box {
        background-color: #d3d3d3;
        width: 55px;
        height: 17px;
        float: left;
      }
    }
    .messages {
      display: inline-block;
      float: left;
      padding-right: 15px;
      padding-left: 25px;
      img {
        width: 20px;
        cursor: pointer;
        &[src="/global/picstagraph-web/images/comment.PNG"],
        &[src="/global/picstagraph-web/images/feed_msg.svg"] {
          transition: all ease 0.5s;
          -webkit-transition: all ease 0.5s;
          -moz-transition: all ease 0.5s;
          position: relative;
          &:hover {
            animation: 0.5s shakeMe;
            -webkit-animation: 0.5s shakeMe;
            -moz-animation: 0.5s shakeMe;
          }
        }
      }
    }
    .likes {
      display: inline-block;
      img {
        width: 20px;
        cursor: pointer;
        transition: all ease 1s;
        -webkit-transition: all ease 1s;
        -moz-transition: all ease 1s;
        &[src="/global/picstagraph-web/images/blue_heart.svg"] {
          animation: 0.5s heartBit;
          -webkit-animation: 0.5s heartBit;
          -moz-animation: 0.5s heartBit;
        }
        &[src="/global/picstagraph-web/images/feed_like.svg"] {
          animation: 0.5s NoheartBit;
          -webkit-animation: 0.5s NoheartBit;
          -moz-animation: 0.5s NoheartBit;
        }
      }
    }
    .show_more_options {
      display: inline-block;
      float: right;
      padding-right: 15px;
      div {
        color: $charcoal_color;
        display: inline-block;
        &.share-wrapr {
          float: left;
          img {
            height: 20px;
            width:auto;
            margin-right: 10px;
          }
        }
      }
      a {
        float: left;
        img {
          height: 20px;
          margin-right: 10px;
        }
      }
      .social-media-wrapr {
      }
      a.gray {
        color: #d3d3d3;
      }
    }
  }


  /*************** Comments CSS ****************/
  .feed-comment {
    .comment-wrapper {
      border-bottom: 1px solid rgba(0, 0, 0, 0.8);
      float: left;
      width: 100%;
      padding: 10px;
      min-height: 80px;
      &:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.8);
      }
      .profile_image{
        display: inline-block;
        float: left;
        img{
          width: 45px;
          height: 45px;
        }
      }
      input {
        height: 38px;
        border: 0;
        resize: none;
        box-shadow: none;
      }
      .comment-input{
        width: 90%;
        .form-group{
          margin-bottom: 10px;
          input{
            width: 100%;
            height: 50px;
          }     
        }  
      }
      .emoji_wrapper {
        padding-right: 0px;
        position: relative;
        .emoji-mart{
          bottom: 20px !important;
          right: 20px !important;
        }
      }
      .commenter-info {
        b {
          font-family: "Helvetica-Bold";
          color: $charcoal_color;
          font-size: 14px;
        }
        color: $silver_color;
        font-size: 12px;
      }
      .show_more_options {
        padding-right: 5px;
        text-align: right;
        position: relative;
        z-index: 1;
        a {
          color: $charcoal_color;
        }
      }
      .comment-content {
        padding-left: 47px;
        @media (max-width: 991px) {
          float: left;
        }
        .display-text-group {
          span {
            display: inline-block;
            width: 100%;
            word-break: break-all;
            .read-more-button{
              color: #029bd7;
              cursor: pointer;
            }
          }
        }
        p {
          color: $charcoal_color;
          font-size: 14px;
          padding-left: 14px;
          margin: 0;
          position: relative;
          bottom: 10px;
          @media (max-width: 991px) {
            padding-left: 0px;
          }
          a {
            color: $blue_color;
          }
          .read-more {
            color: $silver_color;
            font-size: 14px;
          }
        }
      }
    }
    .view-more-comments {
      float: left;
      width: 100%;
      padding: 13px;
      display: block;
      color: $silver_color;
      cursor: pointer;      
    }
  }
}
.comment-content-div{
  input{
    padding-left: 0;
  }
}
.tick {
  display: inline-block;
  position: relative;
  top: -3px;
  padding: 0px 5px;
}

.__react_component_tooltip {
  pointer-events: auto !important;
}

@keyframes heartBit {
  0% {
    transform: scale(0.8);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes heartBit {
  0% {
    -webkit-transform: scale(0.8);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    -webkit-transform: scale(1.3);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    -webkit-transform: scale(1);
  }
}
@-moz-keyframes heartBit {
  0% {
    -moz-transform: scale(0.8);
  }
  25% {
    transform: scale(0.7);
  }
  50% {
    -moz-transform: scale(1.3);
  }
  75% {
    transform: scale(1.3);
  }
  100% {
    -moz-transform: scale(1);
  }
}
@keyframes NoheartBit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes NoheartBit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@-moz-keyframes NoheartBit {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes shakeMe {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes shakeMe {
  0% {
    -webkit-transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(20deg);
  }
  50% {
    -webkit-transform: rotate(0deg);
  }
  75% {
    -webkit-transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@-moz-keyframes shakeMe {
  0% {
    -moz-transform: rotate(0deg);
  }
  25% {
    -moz-transform: rotate(20deg);
  }
  50% {
    -moz-transform: rotate(0deg);
  }
  75% {
    -moz-transform: rotate(-20deg);
  }
  100% {
    -moz-transform: rotate(0deg);
  }
}

.languageBtn{
  position: relative;
}
.language-radio-input:checked,
.language-radio-input:not(:checked) {
  right: 0;
  z-index: 99999;
  opacity: 0;
  margin-top: 0;
  position: absolute;
}
.language-radio-input:checked + span,
.language-radio-input:not(:checked) + span
{
    position: relative;
    width: 100%;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #9b9b9b;
    margin-bottom: 10px;
}
.language-radio-input:checked + span:before,
.language-radio-input:not(:checked) + span:before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 12px;
    height: 12px;    
    border-radius: 100%;
    background: transparent;
}
.language-radio-input:checked + span:before{
  border: 2px solid #1f58a6;
}
.language-radio-input:not(:checked) + span:before {
  border: 2px solid #ccc;
}
.language-radio-input:checked + span:after,
.language-radio-input:not(:checked) + span:after {
    content: '';
    width: 10px;
    height: 10px;
    background: transparent;
    position: absolute;
    top: 4px;
    right: 4px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.language-radio-input:not(:checked) + span:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.language-radio-input:checked + span:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
     border: 1px solid transparent;
}

.cookieConsent {
  z-index: 9999 !important;
  p{
    a{
      display: inline-block;
      padding-left:5px;
    }
  }
  button{
    background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7) !important;
    color: #ffffff !important;
    min-width:100px;
    padding:8px 15px !important;
    line-height: 17px;
  }
}
.feed_wrapper .feed_content .feed_description.news-feed-data .secondary_title{
  text-overflow: unset;
  overflow: visible;
  display: inline-block;
}

.content_13hv8io{
  .footer_60scne{
    .footerCount_lkhc9u{
      display: none;
    }
  }
}

.user-pics-modal{
  background:rgba(51,51,51,0.7) !important;
  &.in{
    
  }
  .modal-dialog{
    width: 400px !important;
    position: relative;
    margin: 10% auto 100px;
    .modal-content{
      .closeBtn {
          position: absolute;
          right: -38px;
          top: -38px;
          z-index: 9;
          background: none;
          border: none;
      }
      .modal-body{
        // padding: 10px 0 0;
        .slider-modal-header{
          font-size: 18px;
          padding: 15px 0;
          margin: 0;
        }
        .user-pics-carousel{
          height: 500px;
          position: relative;
          .left-arrow{
            position: absolute;
            left:-75px;
            top:50%;
            i{
              font-size: 25px;
              color: #fff;
            }
          }
          .right-arrow{
            position: absolute;
            right:-75px;
            top:50%;
            i{
              font-size: 25px;
              color: #fff;
            }
          }
          .carousel-slider{
            overflow: visible;
            .slider-wrapper{
              .slider{
                .slide {
                  height: 500px;
                  > div{
                    height: 100%;
                    img{
                      height: 100%;
                      object-fit: cover;
                    }
                  }
                }
              }
            }
            // .control-arrow{
            //   opacity: 1;
            // }
            .carousel-status{
              display: none;
            }
            
            // .control-prev.control-arrow{
            //   left:-75px;
            //   &:hover{
            //     background: transparent;
            //   }
            //   &::before{
            //     content: "\f104"; 
            //     font-family: FontAwesome;
            //     border: none;
            //     color: #ffffff;
            //   }
            // }
            // .control-next.control-arrow{
            //   right: -75px;
            //   &:hover{
            //     background: transparent;
            //   }
            //   &::before{
            //     content: "\f105"; 
            //     font-family: FontAwesome;
            //     border: none;
            //     color: #ffffff;
            //   }
            // }
          }
        }
        .user-pic-data{
          display: inline-block;
          width: 100%;
          padding: 20px 25px;
          position: absolute;
          top:20px;
          z-index: 9;
          .user-pic{
            display: inline-block;
            width:25%;
            float: left;
            img{
              height: 45px;
              width:45px;
              border-radius: 100%;
            }
          }
          .user-pic-name{
            display: inline-block;
            width:70%;
            float: left;
            color: #fff;
            .username{
              margin:2px 0 3px;
              font-size: 15px;
              font-weight: 700;
              text-transform: capitalize;
            }
            p{
              margin:0 0 3px;
              text-transform: capitalize;
              display: inline-block;
              width: 100%;
              font-family: "Helvetica-Light";
              font-size: 13px;
            }
          }
        }
        .user-pic-opt{
          position: absolute;
          bottom: 0;
          p{
            display: inline-block;
            width: 100%;
            margin: 0 0 5px;
            i{
              color: #ffffff;
              cursor: pointer;
            }
          }
          .option-text{
            color: #ffffff;
            font-size: 14px;
            text-transform: capitalize;
          }
        }
        .user-pic-status{
          display: inline-block;
          width:100%;
          position: absolute;
          top:5px;
          -webkit-z-index: 99;
          -moz-z-index: 99;
          -ms-z-index: 99;
          -o-z-index: 99;
          z-index: 99;
          p{
            height: 3px;
            background-color: #fff;
            display: inline-block;
            margin: 0 2px;
            width:80px;
          }
        }
      }
    }
  }
}

.login-process{
  .login-wrapper.bkoffice-wrapper{
    min-height: auto;
  }
}
.right_bar .community .community_wrapper .community-user-name {
  width: 40%;
  align-self: center;
}
.right_bar {
  .community {
    .community_wrapper {
      .community-user-name{
        .normal_title{
          word-break: unset;
          text-overflow: ellipsis;
          overflow: hidden;
          padding-right: 10px;
        }
      }
    }
  }
}
.camp-statices-btn{
  padding: 15px 20px;
  .blue_button{
    width: 100%;
  }
}

.block-divide{
  display: inline-block;
  width:100%;
  border-bottom: 1px solid #ccc;
}
.creator-block{
  display: inline-block;
  width:100%;
  padding: 8px 0 0 0;
}