.pic-left-block {
  padding-left: 0px;
  padding-right: 5px;
  .pic-block {
    .profile-img-wrapper{
      width: 100%;
      max-height: 276px;
      height: 276px;
      img {
        height: 100%;
        object-fit: cover;
        @media (max-width: 1200px){
          object-fit: contain;
        }
      }
    } 
  }
}
.pic-right-block {
  padding-right: 0px;
  padding-left: 5px;
  .pic-block {
    .profile-img-wrapper{
      width: 100%;
      max-height: 276px;
      height: 276px;
      img {
        height: 100%;
        object-fit: cover;
        @media (max-width: 1200px){
          object-fit: contain;
        }
      }
    } 
  }
}
.pic-block {
  &.gray_content {
    img {
      max-height: 276px;
      height: 276px;
    }
  }
  img {
    width: 100%;
    background-color: #cbcbcb;
  }
  .name-wrapper {
    text-align: center;
    padding: 10px;
    background: #fff;
    margin-bottom: 10px;
    .name{
      min-height: 20px;
    }
    .username {
      font-family: "Helvetica-Bold";
    }
  }
  &:hover {
    .name-wrapper {
      @include gradient();
      color: $white_color;
      &.gray_box {
        background-image: radial-gradient(circle at 0 100%, #d3d3d3, #e2e2e2);
        background-color: #d3d3d3;
        color: black;
      }
    }
  }
  .name-wrapper {
    &.gray_box {
      background-color: #d3d3d3;
      padding: 20px;
      margin: 10px 0;
    }
  }
}

.pic-block{
  .feed_image{
    .video-js {
      &.htWid100 {
        .vjs-big-play-button {
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 51%;
          height: 50px;
          width: 50px;
          span.vjs-icon-placeholder {
            &::before {
              top: 0;
            }
          }
        }
        // @media (max-width: 1200px) {
        //   .vjs-big-play-button {
        //     top: 35%;
        //   }
        // }
        // @media (max-width: 1024px) {
        //   .vjs-big-play-button {
        //     top: 30%;
        //   }
        // }
        // @media (max-width: 991px) {
        //   .vjs-big-play-button {
        //     left: 35%;
        //     top: 26%;
        //   }
        // }
      }
      .vjs-button > .vjs-icon-placeholder:before {
        font-size: 2.8em;
        line-height: 1.5;
      }
      .vjs-control-bar {
        height: 4em !important;
      }
      .vjs-time-control {
        line-height: 4em !important;
      }
      .vjs-icon-replay:before {
        content: "\f144" !important;
      }
      .vjs-volume-panel:hover .vjs-volume-control.vjs-volume-horizontal {
        height: 4em !important;
      }
      .vjs-volume-bar.vjs-slider-horizontal {
        margin: 1.9em 0.45em !important;
      }
    }
  }
}
.pic-sec-block{
  min-height: 278px;
  .feed_image{
    min-height: 310px;
    .embed-responsive{
      min-height: 310px;
    }
  }
  .name-wrapper{
    padding: 0 10px;
    .show_more_options{
      text-align: right;
    }
  }
}