.settings-menu {
  li {
    a {
      span {
        padding-left: 0px !important;
      }
      &.active {
        @include gradient();
        color: $white_color;
      }
    }
  }
}
.privacy-form {
  padding: 35px 100px 25px 100px;
  background: $white_color;
  float: left;
  width: 100%;
  margin-bottom: 35px;
  .privacy-actions-wrapper {
    .row {
      margin-bottom: 25px;
      a {
        color: $blue_color;
      }
    }
  }
  .limitation-wrapper {
    .switch {
      position: relative;
      display: inline-block;
      width: 50px;
      height: 25px;
      margin-bottom: 10px;
      input {
        display: none;
        &:checked {
          & + .slider {
            background-color: #0f7aba;
            &:before {
              -webkit-transform: translateX(26px);
              -ms-transform: translateX(26px);
              transform: translateX(26px);
            }
          }
        }
        &:focus {
          & + .slider {
            box-shadow: 0 0 1px #2196f3;
          }
        }
      }
      .slider {
        position: absolute;
        cursor: pointer;
        top: -1px;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $silver_color;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        &::before {
          position: absolute;
          content: "";
          height: 26px;
          width: 26px;
          left: 0px;
          bottom: 0px;
          background-color: white;
          -webkit-transition: 0.4s;
          transition: 0.4s;
          border: 1px solid $silver_color;
        }
        &.round {
          border-radius: 34px;
          &:before {
            border-radius: 50%;
          }
        }
      }
    }
  }
}
