.modal {
  &.right_bar {
    .modal-dialog {
      width: 270px;
    }
    .modal-normal-title {
      border-bottom: 3px solid rgba(198, 198, 198, 0.3);
      background: $white_color;
    }
    .community {
      .community_wrapper {
        .community-user-image {
          width: 26%;
          padding-right: 0;
          img {
            width: 45px;
          }
        }
        .community-user-name {
          width: 36%;
        }
      }
    }
  }
}
