.user-wrapper {
  .pic-block {
    &:hover {
      .name-wrapper {
        background: $white_color;
        color: $charcoal_color;
      }
    }
    button {
      height: 30px;
      padding-top: 6px;
      margin-top: 10px;
      &:hover{
        background-image: radial-gradient(circle at 0 100%, #1f58a6, #029bd7);
        color: #ffffff;
        border-color: #ffffff;
      }
    }
  }
}
